.top {
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;

  .logo {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      margin: auto;
      padding: 20px;
      display: block;
    }
  }

  .arrow-down {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5%;

    i {
      color: darken(lightgray, 40%);
      transition: all 0.3s;

      &:hover {
        color: darken(lightgray, 60%);
      }
    }
  }
}

.section-wrapper {
  width: 100%;
  padding: 70px 150px;

  &.section-white {
    background-color: white;
  }

  &.section-dark {
    background-color: #444;
    color: white;
  }

  .section {
    min-height: 200px;
    text-align: center;

    hr {
      width: 50%;
    }

    .row {
      margin-top: 25px;
    }
  }
}

