<div class="top">
    <div class="logo">
        <a ui-sref="login" class="btn waves-effect waves-light">Register</a>
    </div>

    <div class="arrow-down">
        <a href="#">
            <i class="material-icons md-48">arrow_downward</i>
        </a>
    </div>
</div>

<div class="section-wrapper section-dark">
    <div class="section">
        <h2>Our Mission</h2>
        <hr>
        <div class="row">
            <div class="col s4">
                <i class="fa fa-users fa-3x"></i>
                <h4>Community</h4>
                <p>Talk with with alumni or people looking to enroll in a bootcamp. Share your experiences and provide
                    feedback.</p>
            </div>
            <div class="col s4">
                <i class="fa fa-handshake-o fa-3x"></i>
                <h4>Connectivity</h4>
                <p>Connect with employers and recruiters as well as mentors and novices alike. Grow your network and get
                    your name out.</p>
            </div>
            <div class="col s4">
                <i class="fa fa-bar-chart-o fa-3x"></i>
                <h4>Analysis</h4>
                <p>View all kinds of data about a school, such as average salary upon graduation, overall rating, and
                    employment rate.</p>
            </div>
        </div>
    </div>
</div>
